<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">
    <%# class notice and alert from command line 'rails g devise:install
      these are for if a user logs in or fails to log in, there will be a notice%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <% if user_signed_in? %>
        <%= link_to "New blog post", new_blog_post_path %>
        <%# edit user registration, destroy, etc all from devise 
          - commenting out the link to profile cause we will log in with rails c%>
        <%#= link_to "Profile", edit_user_registration_path %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      <%# commenting the else portion out because we removed the registerable line is user.rb model
        - don't want anyone to be able to sign up and log into our blog
        - we only want just us (admin) to be able to login and edit blogs %>
      <%# else %>
        <%#= link_to "Login", new_user_session_path %>
        <%#= link_to "Sign Up", new_user_registration_path %>

      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
